.App {
  text-align: center;
}

.app-header{
 height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.book-list-view{
 height: 50vh;
 overflow-y: scroll;
}
.row-container-book{
 display: flex;
 justify-content: center;

.flex-direction-row-header{
 font-weight: bold;
 width: 300px;
 background: #0d3744;
 color: #efefef;
 margin-left:2px;
 margin-bottom: 2px;
 height: 50px;
 vertical-align: middle;
 display: flex;
 align-items: center;
 justify-content: center;
 &:hover{
 }
}
 .flex-direction-row{
  display: flex;
  background: #0e5269;
  color: #efefef;
  margin-left:1px;
  margin-bottom: 2px;
  height: 50px;
  line-height: 50px;
  &:hover{
  cursor: pointer;
   background: #127292;
  }
 }
 .flex-direction-cell{
  width: 300px;
  background: transparent;
  //background: #0e5269;
  //color: #efefef;
  height: 50px;
  line-height: 50px;
 }
}
.book-details{
 margin-top: 20px;
 text-align: left;
 margin-left: 20px;
}
.loading-logo{
 margin: 20px;
}
.details-header{
 width: calc(100% - 40px);
 background: #000;
 height: 30px;
 line-height: 30px;
 color: #fff;
}
.details-label{
 display: inline;
 font-size: 0.9rem;
 color:#999;
 width: 150px;
 margin-left: 20px;
}
.details-content{
 width: 500px;
 display: inline;
}